%h1 React Calendar

%h2 Appointments

-# = form_with model: @appointment do |f|
-# 	= f.text_field :title
-# 	= f.text_field :appt_time 
-# 	= f.submit 'Make appointment'

-# #appointments
-# 	= render 'appointments'

= react_component('Appointments', appointments: @appointments)